<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  {{#if note.id}}
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">DETAILS OF
      NOTE
      {{note.id}}</h1>
    <section
      class="m-3 w-50 d-flex flex-column justify-content-center align-items-center bg-success-subtle"
    >
      <p>{{note.id}}</p>
      <p>{{note.text}}</p>
      <p>{{note.category}}</p>
      <input
        type="button"
        class="px-3 py-1 my-2 text-light btn btn-success"
        value="EDIT"
      />
    </section>
  {{else}}
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">NOT FOUND
      NOTE</h1>
  {{/if}}
</main>